.box
{
    display: flex;
    gap: 20px;
}

.add
{
    padding: 20px;
}

#cursor:hover
{
    cursor: pointer;
    color: red;
}

#supprimer:hover
{
    cursor: pointer;
    color: red;
}


#table
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: 2px solid black;
    padding: 20px;
}