*{margin: 0; padding: 0;}

/*******************/
/* Animation Class */
/*******************/

/*************************/
/* Animation Description */
/*************************/

/*********/
/* Hover */
/*********/
header input:hover
{
    cursor: pointer;
}

.categorie:hover
{
    cursor: pointer;
    font-size: 25px;
}

#add_categorie:hover
{
    cursor: pointer;
    font-size: 15px;
}

.parameter:hover{
    cursor: pointer;
}

#new_todo:hover .new_todo_box{
    cursor: pointer;
    background-color: rgba(23, 23, 23, 0.088);
    font-size: 70px;
}

/*********/
/* Basic */
/*********/
/*body*/
body{
    width: 100%;
    height: 100vh;
}
/*header*/
header{
    width: 100%;
    height: 8%;
    background-color: rgba(215, 196, 71, 0.925);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_tag{
    font-size: 25px;
    margin-left: 10px;
}

header input{
    margin-right: 10px;
    font-size: 25px;
}

/* main */
main{
    width: 100%;
    height: 92%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
/*categorie_box*/
#categorie_box{
    width: 15%;
    height: 100%;
    background-color: rgba(246, 171, 65, 0.505);
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categorie_box div
{
    width: 90%;
    height: 95%;
    background-color: rgba(255, 0, 0, 0.29);
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 95%;
    align-items: center;
    box-shadow: 0px 0px 10px 1px black inset;
}

.categorie
{
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

#add_categorie
{
    width: fit-content;
    font-size: 13px;
    margin-top: 20px;
    transition: 0.2s;
    font-weight: 600;
}


/*list_box*/
#list_box{
    width: 85%;
    height: 100%;
    background-color: rgba(255, 231, 75, 0.722);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    gap: 40px;
}

#list_box .todo{
    margin-top: 20px;
    width: 300px;
    background-color: rgb(251, 217, 144);
    height: 300px;
    box-shadow: 0px 0px 10px 1px black inset;
    border-radius: 20px;
}

/*new_todo*/

.new_todo_box{
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 50px;
}

/*todo_classic*/

.todo_option
{
    width: 100%;
    height: 20%;
    outline: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.todo_option .parameter{
    font-size: 30px;
    margin-right: 20px;
}

.todo_content
{
    width: 100%;
    height: 80%;
    outline: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    width: 80%;
    height: 80%;
    outline: 1px solid red;
    overflow-y: auto;
}



/***********/
/* Special */
/***********/

/* Créé une nouvelle tâche */

#new_todo_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.084);
    display: none;
    justify-content: center;
    align-items: center;
}

#new_todo_creation_box{
    padding: 30px;
    width: fit-content;
    height: fit-content;
    outline: 2px solid black;
    background-color: rgb(188, 188, 188);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#new_todo_button_box input{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#new_todo_content_box textarea{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
}