*{margin: 0; padding: 0;}

/*******************/
/* Animation Class */
/*******************/

/*************************/
/* Animation Description */
/*************************/

/*********/
/* Hover */
/*********/
header input:hover
{
    cursor: pointer;
}

.categorie:hover
{
    cursor: pointer;
    font-size: 25px;
}

#add_categorie:hover
{
    cursor: pointer;
    font-size: 15px;
}

/*********/
/* Basic */
/*********/
/*body*/
body{
    width: 100%;
    height: 100vh;
}
/*header*/
header{
    width: 100%;
    height: 8%;
    background-color: rgba(215, 196, 71, 0.925);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_tag{
    font-size: 25px;
    margin-left: 10px;
}

header input{
    margin-right: 10px;
    font-size: 25px;
}

/* main */
main{
    width: 100%;
    height: 92%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
/*categorie_box*/
#categorie_box{
    width: 15%;
    height: 100%;
    background-color: rgba(246, 171, 65, 0.505);
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categorie_box div
{
    width: 90%;
    height: 95%;
    background-color: rgba(255, 0, 0, 0.29);
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 95%;
    align-items: center;
    box-shadow: 0px 0px 10px 1px black inset;
}

.categorie
{
    width: fit-content;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

#add_categorie
{
    width: fit-content;
    font-size: 13px;
    margin-top: 20px;
    transition: 0.2s;
    font-weight: 600;
}


/*list_box*/
#list_box{
    width: 85%;
    height: 100%;
    background-color: rgba(255, 231, 75, 0.722);
}



/***********/
/* Special */
/***********/