*{margin: 0; padding: 0;}

/*******************/
/* Animation Class */
/*******************/

.disparition{animation: disparition 0.25s ease forwards;}
.apparition{animation: apparition 0.25s ease forwards;}
.error_saisi{animation: error_saisi 0.5s ease forwards;}

/*************************/
/* Animation Description */
/*************************/

@keyframes disparition
{
    0%{ opacity: 1;}
    100%{opacity: 0;}
}

@keyframes apparition
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes error_saisi
{
    100%
    {
        background-color: rgba(255, 68, 68, 0.223);
    }
}

/*********/
/* Hover */
/*********/

#deconnection_button:hover
{
    cursor: pointer;
    opacity: 0.8;
    
}

.add:hover,
.minus:hover
{
    cursor: pointer;
    opacity: 0.5;
}

.big_button:hover
{
    cursor: pointer;
    box-shadow: 4px 4px 15px black;
}

#programme_box_header button:hover
{
    cursor: pointer;
    box-shadow: 4px 4px 15px black;
}

/*********/
/* Basic */
/*********/

/* Menu de navigation */

body
{
    background-color: rgba(108, 49, 19, 0.483);
    width: 100%;
    height: 100vh;
}

header
{
    width: 100%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
    display: flex;
}

header div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo
{
    width: 10%;
    font-size: 50px;
    color: rgb(108, 49, 19);
}

#name_user
{
    width: 10%;
    font-size: 20px;
}

#calcule_recette
{
    width: 70%;
    font-size: 30px;
}

#deconnection
{
    width: 10%;
    display: flex;
    flex-direction: column;
}

#deconnection_button
{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

/* Box principal */
#main_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#main_box_child
{
    width: 90%;
    height: 90%;
    display: flex;
}

/* Box de l'utilisateur */
#user_input_box
{
    width: 50%;
    padding-right: 20px;
}

/* Box de l'utilisateur : class*/
.title
{
    font-size: 60px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    position: relative;
    top: -10px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.title input
{
    width: 400px;
    overflow-x: scroll;
    margin-top: 15px;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    font-size: 20px;
    font-weight: 700;
}

.title span#user_poid_total_recette_value
{
    position: relative;
    top: 9px;
    font-size: 40px;
}

.add_minus_box
{
    width: 5%;
    font-size: 40px;
    position: relative;
    top: 103px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_box
{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    overflow-y: auto;
    padding-right: 5px;
    padding-bottom: 5px;
}

.input_line
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

.input_box input
{
    height: 30px;
    width: 50%;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.input_box_global
{
    display: flex;
    height: 90%;
    flex-direction: column;
    gap: 20px;
}

/* Box recette*/
#recette_box
{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#recette_box_child
{
    gap: 20px;
    display: flex;
    height: 100%;
    padding-top: 10px;
}

/* Box product */
#product_box
{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#product_box_child
{
    display: flex;
    gap: 20px;
    height: 100%;
    padding-top: 10px;
}









/* Box du programme */
/*  */

#programme_box_button
{
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big_button
{
    font-size: 50px;
    background: none;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    background-color: rgba(142, 101, 80, 0.859);
}


/* */

#programme_box
{
    width: 50%;
    flex-direction: column;
    display: none;
}

#programme_box_header
{
    display: flex;
    font-size: 60px;
    font-weight: 700;
    gap: 5px;
    justify-content: flex-end;
}


#programme_box_header button
{
    font-size: 20px;
    background: none;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    background-color: rgba(142, 101, 80, 0.859);
}

#programme_box_main
{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
}

#programme_recette_box
{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.programme_recette_line
{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 700;
    justify-content: center;
}

#programme_information_box
{
    outline: 4px double black;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#programme_coefficient_box
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 20px;
    outline: 4px double black;
}

#programme_coefficient_title
{
    color: rgb(123, 0, 0);
    font-size: 25px;
    font-weight: 700;
}

#programme_coefficient_value
{
    font-size: 35px;
    font-weight: 700;
}

#programme_poid_total_box
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

#programme_poid_total_title
{
    color: rgb(123, 0, 0);
    font-size: 25px;
    font-weight: 700;
}

#programme_poid_total_value
{
    font-size: 35px;
    font-weight: 700;
}

#programme_recap_product_box
{
    width: 100%;
    height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    outline: 4px double black;
}

.programme_recap_product_line
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

